<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecom6.dao.mem.MemberDao">
	<select id="getMember" parameterType="mvo" resultType="mvo">
		SELECT MEM_ID, M_PASSWD, M_NAME, M_EMAIL, M_PHONE, ZIPCODE,
			ADDRESS, ADDRESS2, M_JOB, M_ROLE, M_REGDATE 
		FROM MEMBER
		WHERE MEM_ID=#{mem_id} AND M_PASSWD=#{m_passwd}
	</select>
	<select id="idCheck" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEM_ID = #{mem_id}
	</select>
	<insert id="memberJoin" parameterType="mvo">
		INSERT INTO MEMBER(MEM_ID, M_PASSWD, M_NAME, M_EMAIL, M_PHONE, ZIPCODE,
			ADDRESS, ADDRESS2, M_JOB, M_ROLE, M_REGDATE) 
		values (#{mem_id}, 
				#{m_passwd}, 
				#{m_name},
				#{m_email}, 
				#{m_phone}, 
				#{zipcode},
				#{address}, 
				#{address2},
				#{m_job},
				'mem', 
				SYSDATE)
	</insert>
	<update id="memberUpdate" parameterType="mvo">
		UPDATE MEMBER SET
		M_PASSWD=#{m_passwd}, 
		M_NAME=#{m_name}, 
		M_EMAIL=#{m_email}, 
		M_PHONE=#{m_phone}, 
		ZIPCODE=#{zipcode},
		ADDRESS=#{address}, 
		ADDRESS2=#{address2},
		<if test="m_role=='mem'">
		M_JOB=#{m_job}, 
		</if>
		M_REGDATE=SYSDATE
		WHERE MEM_ID=#{mem_id}
	</update>
	
	<select id="getTotalMember" resultType="int" parameterType="mvo">
		SELECT COUNT(*) FROM MEMBER WHERE M_ROLE='mem'
	</select>
	
	<select id="getMemberList" parameterType="mvo" resultType="mvo">
		SELECT * FROM(
		SELECT ROWNUM RN, A.* FROM (
		SELECT MEM_ID, M_PASSWD, M_NAME, M_EMAIL, M_PHONE, ZIPCODE,
				ADDRESS, ADDRESS2, M_JOB, M_ROLE, M_REGDATE  
				FROM MEMBER
				WHERE M_ROLE='mem'
				) A
		)
		<![CDATA[
		WHERE RN  >= #{start} AND RN <= #{end}
		]]>
	</select>
	<delete id="memDeleteProc" parameterType="mvo">
      DELETE FROM MEMBER
   		WHERE
	<![CDATA[       
       0 = (SELECT COUNT(*) FROM ORDERT WHERE STATE<5 AND MEM_ID=#{mem_id})
    ]]>  
    	AND MEM_ID=#{mem_id}
    </delete>
    <select id="searchId" parameterType="mvo" resultType="string">
   		SELECT MEM_ID FROM MEMBER
   		WHERE M_NAME = #{m_name} AND M_PHONE=#{m_phone}
   </select>
   <update id="updatePasswd" parameterType="mvo">
   		UPDATE MEMBER
   		SET M_PASSWD = #{m_passwd}
   		WHERE MEM_ID = #{mem_id}
   </update>
</mapper>