@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.loginform {
	grid-column-start: 2;
    grid-column-end: span 2;
}

.login-title {
	text-align: center;
	margin-bottom: 40px;
}

form {
	display: flex;
	flex-flow: column;
	text-align: center;
	width: fit-content;
}

#Large-login-box {
	width: 100%;
	display: flex;
	flex-direction: column;
    align-items: center;
	margin: 20px auto;
	padding: 20px;
	border-radius: 10px;
	background-color: f3f3f3;
}

#Large-login-box h1{
	margin-top: 200px;
	margin-right: 50px;

}



.large-login-input input {
	margin-top: 15px;
	margin-right: 50px;
	border: 1px solid #000;
	border-radius: 10px;
	font-size: 25px;
	padding: 10px 20px;
}



.login-btn {
	text-align: center;
	margin-top: 20px;
	margin-right: 50px;
	font-size: 25px; 
}

.login-btn:hover {
	background-color: #fff;
	color: #000;
}
.large-login-input li{
	list-style: none;
}