@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

footer {
    clear: both;
    padding: 20px;
    justify-content: center;
}

footer #address {
	display: flex;
	flex-flow: column;
	justify-content: space-around;
}

footer #footerSns {
	display: inline-flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	gap: 8px;
	align-items: center;
}
	