@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none; 
}

#join .signup-main{
	margin: auto;
}
#join h3{
	text-align: center;
	font-weight: 700;
	padding-bottom: 50px;
}

div.contents {
	width: 1200px;
	margin: 0 auto;
}


:root {
    --font-color-base: #000;
    --font-color-heading: #000;
    --font-color-primary: #000;
    --font-color-secondary: #ef441f;
    --font-color-warn: #ec2a1d;
    --font-color-success: #0985df;
}
.theme03, .theme03 input, .theme03 select, .theme03 textarea, .theme03 code, .theme03 button {
font-family: "Poppins", "Noto Sans KR",
              Arial,sans-serif !important;
    
    border: none;
}
.btn{
	background-color: #ffeded;
	font-weight: bold;
}


body{
	position: relative;
}
element.style {
	width: 100%;
    display: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: Poppins, Noto Sans KR, Arial, sans-serif !important;
    text-decoration: none;
    font-size: 20px;
}
.theme03 .main_top_banner {
    background-color: #7083ae;
    color: #fff;
}    
.main_top_banner {
    position: relative;
    z-index: 997;
    background-color: #000;
    overflow: hidden;
    width: 100%;
    display: none;
    padding: 20px 0;
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img {
    margin: 0;
    padding: 0;
}
div {
    display: block;
    unicode-bidi: isolate;
}
#header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    margin: 0 auto;
    transform: translateY(-60px);
}
#header{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: #fff;
    position: relative;
    z-index: 998;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
}

body, code {
    font-size: 13px;
    font-family: Arial, "Apple SD Gothic Neo", "Noto Sans Regular", "맑은 고딕", "malgun gothic", "돋움", "dotum", sans-serif;
    color: #000;
    color: var(--font-color-base);
}


#header .inner {
    max-width: 1680px;
    width: 92%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}
@media (min-width: 1024px) {
    #header.layout03 .inner .toparea {
        flex-direction: row;
    }
}
#header .inner .toparea {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(0);
    position: relative;
    z-index: 11;
}
#header .inner .toparea .toparea_shoppinginfo {
    display: flex;
    align-items: center;
}
#header .inner .toparea .toparea_state {
    display: flex;
    margin-right: 30px;
}
#header .inner .toparea .toparea_state a {
    font-size: 18px;
    font-weight:bold;
    line-height: 1;
    color: #6a6a6a;
    display: flex;
    align-items: center;
    margin: 25px 0 0 10px;
    text-decoration: none;
}
#header .inner .toparea .toparea_state .toparea_state_board {
    position: relative;
}
#header .inner .toparea .toparea_state .toparea_state_board > a {
    display: flex;
    align-items: center;
}
#header .inner .toparea .toparea_state .toparea_state_board > a .icon {
    width: 5px;
    height: 5px;
    margin-left: 10px;
    margin-top: -3px;
}
.icon.icoArrowBottom {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.icon[class*="icoArrow"] {
    display: inline-block;
    overflow: hidden;
    width: 8px;
    height: 8px;
    text-indent: 120%;
    white-space: nowrap;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}
i {
    font-style: italic;
}

@media (min-width: 1024px) {
    #header.layout03 .inner .top_nav_box {
        flex-direction: column;
        align-items: center;
    }
}

#header .inner .top_nav_box {
    width: 100%;
    display: flex;
    align-items: flex-start;
    background-color: #fff;
}

@media (min-width: 1024px) {
    #header.layout03 .inner .top_nav_box .top_logo {
        order: 2;
        flex-basis: auto;
        display: flex;
        justify-content: center;
    }
}

#header .inner .top_nav_box .top_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 80px;
}
#header .inner .top_nav_box .top_logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    line-height: 1;
    
}


.header__search-container {
    border-bottom: 1px solid #000;
    padding: 0;
    display: flex;
    width: 200px;
}

.search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.search .input-placeholder {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.input-placeholder {
    position: relative;
    z-index: 0;
}

.screenreader {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.search__input, .search__input:active, .search__input:focus {
    font-size: 1rem;
    color: #000;
    border: 0;
    outline: none;
    padding: 0 2.5rem .3125rem 0;
    width: 100%;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

[role=button], button[type=button] {
    cursor: pointer;
}

.search__input-button {
    padding-right: .3375rem;
}

.btn-icon {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding-right: 4px;
}

.icon--search {
    width: 2em;
    height: 2em;
}

.icon:before {
    background-repeat: no-repeat;
    background-size: 14.9375em 96.875em;
    content: "";
    display: block;
    font-size: 1em;
}

.icon {
	display: inline-block;
}

.icon {
    width: 2em;
    height: 2em;
    margin-bottom: 1px;
}


a {
    text-decoration: none;
    color: #000;
    color: var(--font-color-base);
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

#header .inner .top_nav_box .top_logo img {
    max-width: 500px;
    max-height: 70px;
    margin-top: 100px;
}

audio, canvas, img, svg, video {
    max-width:100%;
    height: auto;
    box-sizing: border-box;
}

img, fieldset {
    border: none;
    vertical-align: top;
}

@media (min-width: 1024px) {
    #header.layout03 .inner .top_nav_box div[data-ez-module='menu-main/1'] {
        order: 3;
        flex-basis: auto;
    }
}

@media (min-width: 1024px) {
    #header.layout03 .inner .top_nav_box .top_category {
        margin: 0;
    }
}

#header .inner .top_nav_box .top_category {
    margin: 0 150px 0 50px;
    display: block;
    flex-wrap: wrap;
}

#header .inner .top_nav_box .top_category > ul {
	margin-top:90px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

@media (max-width: 1500px) {
    #header .inner .top_nav_box .top_category > ul > li {
        padding: 0 15px;
    }
}

#header .inner .top_nav_box .top_category > ul > li {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 130px;
    position: relative;
}

li {
    list-style: none;
}

@media (min-width: 1024px) {
    #header.layout03 .inner .top_nav_box .top_category > ul > li > a {
        line-height: 71px;
    }
}

#header .inner .top_nav_box .top_category > ul > li > a {
    font-size: 16px;
    font-weight: 400;
    display: block;
    line-height: 78px;
    color: #1a1a1a;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: #000;
    color: var(--font-color-base);
}

#header .inner .top_nav_box .top_category > ul > li > a:after {
    content: "";
    position: relative;
    display: block;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: #000;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.45,.46,.05,.96);
    -o-transition: transform .3s cubic-bezier(.45, .46, .05, .96);
    transition: transform .3s cubic-bezier(.45,.46,.05,.96);
    transition: transform .3s cubic-bezier(.45,.46,.05,.96), -webkit-transform .3s cubic-bezier(.45,.46,.05,.96);
}

#header .inner .top_nav_box .top_category .sub_cate01{
	top: 83px;	
}

#header .inner .top_nav_box .top_category .sub_cate01 li, #header .inner .top_nav_box .top_category .sub-category li {
    position: relative;
    padding: 0 5px 0 10px;
}

#header .inner .top_nav_box .top_category .sub_cate01 li a, #header .inner .top_nav_box .top_category .sub-category li a:hover {
    font-size: 14px;
    color: #66716A;
    line-height: 1;
    font-weight: 400;
    display: block;
    padding: 10px 20px 10px 10px;
    white-space: nowrap;
    
}


@media (min-width: 1024px) {
    #header.layout03 .inner .top_nav_box .top_mypage {
        top: 60px;
        height: 80px;
    }
}
#header .inner .top_nav_box .top_mypage {
    height: 80px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    position: absolute;
    top: 60px;
    right: 30px;;
}
#header .inner .top_nav_box .top_mypage a {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #1a1a1a;
    margin-left: 27px;
    padding: 0;
    border: 0;
    height: 24px;
    display: flex;
    align-items: center;
    position: relative;
}
svg.icon {
    display: block;
}
audio, canvas, img, svg, video {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
:not(svg) {
    transform-origin: 0px 0px;
}
#header .inner .top_nav_box .top_sidebar {
    display: none;
}
#container {
    width: 100%;
    zoom: 1;
    position: relative;
    margin: 0 auto;
}

@media (min-width: 1025px) {
    .RTMB {
        display: none !important;
    }
}
element.style {
    --pc-width: 1680px;
    --pc-height: 800px;
    --mobile-width: 720px;
    --mobile-height: 850px;
}
#container #contents > .section {
    max-width: 1680px;
}
@media (min-width: 1024px) {
    #contents > .section {
        max-width: 1420px;
        width: 92%;
        margin-left: auto;
        margin-right: auto;
    }
}
.xans-smart-banner-admin {
    margin: 0 auto 120px;
}
style {
    display: none;
}
style attribute {
    --pc-width: 1680px;
    --pc-height: 800px;
    --mobile-width: 720px;
    --mobile-height: 850px;
    cursor: default;
}

.dropdown:hover {
	margin-bottom: 5px;
	border-bottom: 1px solid #ce4a4a;
	color: #000;
}

.footer_margin {
    margin-top: 100px;
}

/* DropDown Func */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content li{
	color:#400040;
	font-weight: bold;
}
.dropdown-content a{
	text-decoration: none;
}
/*SWIPER*/
.swiper .swiper-wrapper picture img{
	
    margin: 0 auto;
    float: none;
    padding: 0;
    width: 90% !important;
    max-width: 100% !important; 
}