@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none; 
}

#join .signup-main{
	margin: auto;
}
#join h3{
	text-align: center;
}

/* LOGO */

.logo {
	height: 60px;
}

/* LOADING */

.load {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    opacity: 0.8;
    background: white;
    z-index: 99;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* .load > img {
    margin: 55% auto;
    z-index: 100;
} */

/* .container {
	height: 2000px
} */

.total-footer {
	bottom: 0;
}


/* Add Header */

:root {
    --wk-color-solid-button-label: 255, 255, 255;
    --wk-color-accent-1: 0, 0, 0;
    --wk-color-accent-2: 0, 0, 0;
    --wk-color-outline-button-label: 0, 0, 0;
    --wk-color-background-1: 255, 255, 255;
    --wk-color-background-2: 255, 255, 255;
    --wk-color-text: 0, 0, 0;
    --wk-button-min-height: 45px;
    --wk-button-border-width: 1px;
    --wk-button-border-radius: 0px;
    --wk-input-min-height: 45px;
    --wk-input-border-width: 1px;
    --wk-input-border-radius: 0px;
    --wk-shadow-opacity: 15%;
    --wk-shadow-horizontal-offset: 0px;
    --wk-shadow-vertical-offset: 2px;
    --wk-shadow-blur: 4px;
    --wk-font-text-scale: 1.0;
}

:root {
    --moma-primary-font: "MoMA Sans", arial, sans-serif;
    --moma-secondary-font: "MoMA Sans Store", arial, sans-serif;
    --moma-tertiary-font: arial, helvetica, sans-serif;
    --sale-color: #d20200;
    --best-seller-color: #2bb39b;
    --green: #1AB046;
}

.header__right {
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

.header__search-container {
    border-bottom: 1px solid #000;
    padding: 0;
    display: flex;
    width: 200px;
}

.search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.search .input-placeholder {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.input-placeholder {
    position: relative;
    z-index: 0;
}

.screenreader {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.search__input, .search__input:active, .search__input:focus {
    font-size: 1rem;
    color: #000;
    border: 0;
    outline: none;
    padding: 0 2.5rem .3125rem 0;
    width: 100%;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

[role=button], button[type=button] {
    cursor: pointer;
}

.search__input-button {
    padding-right: .3375rem;
}

.btn-icon {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding-right: 4px;
}

.icon--search {
    width: 1.3125em;
    height: 1.3125em;
}

.icon:before {
    background-repeat: no-repeat;
    background-size: 14.9375em 96.875em;
    content: "";
    display: block;
    font-size: 1em;
}

.icon {
	display: inline-block;
}

.icon {
    width: 1.3125em;
    height: 1.3125em;
}

.cart-icon {
	width: 1.3125em;
    height: 1.3125em;
}

.header__container {
	display: flex;
    justify-content: space-between;
	
}

/* Header */

a {
	text-decoration: none;
}

p {
	color: #000;
}

.--logo-img a {
	font-size: 14px;	
	padding: 4px 8px;
}

.--nav-item a {
	padding: 4px 8px;
	font-size: 14px;
	color: #2d2d2f;
}

.MainBanner {
	text-align: center;
	font-weight: bold;
	
}

.MainBanner > h1.High-Banner {
	font-weight: 900;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-user:hover .dropdown-content {
	display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #aaa;}

.dropdown:hover {
	background-color: red;
	color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 99;
}

/* Shop persentation */

div .site-desc {
	margin: 40px 0;
}

section .site-desc-direction {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 60px;
}

.TwoColumn-Sec {
	position: relative;
	display: flex;
	gap: 60px;
    align-items: flex-start;
    flex-direction: row;
}

.TwoColumn-Sec-Col {
	width: 100%;
	display: flex;
}

.TwoCol-Sec-MediaContainer {
	grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-flow: column;
    inline-size: 100%;
}

.Cols-event-Item {
	display: flex;
	gap: 40px;
	margin-bottom: 20px;
	border-bottom: 1px solid #c6c6c6;
	padding: 10px 0;
}

.Cols-Title {
	font-weight: 500;
	font-family: fantasy;
	font-size: 2.8rem;
	line-height: 104%;
}

.Cols-context h2 {
	font-size: 24px;
	font-weight: 600;
}

.TCol-cont {
	max-width: 220em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.colimg {
	width: 100%;
    height:100%;
    object-fit:cover;
    border-radius: 20px;
}


/* ItemList */

.Item-container {
	display: grid;
	row-gap: 40px;
    column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.Item-card {
	display: flex;
	flex-flow: column;
}

.item-img {
	width:100%;
    height:100%;
    object-fit:cover;
}

.item-text {
	margin-top: 10px;
	display: grid;
	gap: 10px;
}

.item-context {
	font-size: 14px;
	margin: 0;
	overflow: hidden;
	white-space-collapse: collapse;
    text-wrap: nowrap;
	text-transform: none;
    text-overflow: ellipsis;
}

.item-foot-goto {
	text-align: center;
}

.goto-item {

	width: 100%;
	padding: 0;
}

/* Footer */


#footer1 {
	background-color: #333;
	text-align:center;
	padding: 50px 0px;
}
#footer2 {
	background-color: #000;
	padding: 0 80px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.footer-text {
	font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 151.5%;
    margin-bottom: 0;
	color: #fff;
	margin: 0 auto;
    max-width: 730px;
}

.footer-title {
	color: #fff;
	font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 104%;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.foot {
	color: #fff;	
}

.newSletter {
	padding: 50px 60px 0 0;
	grid-column-start: 1;
	grid-column-end: span 5;
}

.newsTitle {
	font-size: 36px;
}

.news_input {
	border: 1px solid #2d2d2f;

	position: relative;
    width: 100%;
    background-color: transparent;
    padding: 16px;
}

.navColumn {
	padding: 50px 0 50px 60px;
	height: 100%;
	grid-column-start: 6;
	grid-column-end: span 7;
}

.footSocial {
	grid-column-start: 1;
	grid-column-end: span 5;
	gap: 30px;
	margin-bottom: 0;
	display: flex;
	align-items: center;
}
.newsletter__form {
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.little-newSletter {
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.input-main {
	position: relative;
}

.footPayMent {
	padding: 30px 0 30px 50px;
	grid-column-start: 6;
	grid-column-end: span 7;
}


.storeSelect {
	grid-column: 1 / span 5;
}

.cols {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 10%;
	box-sizing: border-box;
}

.item-head {
	font-weight: bold;
}

.-item-2 {
	color: #fff;
	font-size: 13px;
	font-weight: 400;
}

#footer3 {
	background-color: #000;
	bottom: 0;
	padding: 0 80px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.input-hold {
	display: grid;
    grid-template-columns: 1fr 1fr;
}

.copyright {
	grid-column-start: 1;
	grid-column-end: span 5;
	padding: 50px 80px 50px 50px;
}