@charset "UTF-8";

table, tr, td, th {
	border-collapse: collapse;
	border-bottom: 1px solid #e5e5e5;
}

.tbcol > input, select {
	overflow: hidden;
	outline: none;
	border: none;
	padding: 2px 4px;
	background-color: transparent;
/* 	width: 100px; */
}

.mcol1 { width: 15%; }
.mcol2 { width: 25%; }
.mcol3 { width: 25%; }
.mcol4 { width: 25%; }
.mcol5 { width: 5%; }
/* .mcol6 { width: 5%; }
.mcol7 { width: 9%; }
.mcol8 { width: 5%; } */


.mcol1 input{ width: 100%; }
.mcol2 input{ width: 100%; }
.mcol3 input{ width: 100%; }
.mcol4 input{ width: 100%; }
.mcol5 input{ width: 100%; }
/* .mcol6 input{ width: 100%; }
.mcol7 input{ width: 100%; }
.mcol8 select{ width: 100%; } */

thead {
	background-color: #de7575;
	color: #fff;
	height: 30px;
}

.tbcol {
	padding: 12px;
} 



