@charset "UTF-8";

table, tr, td, th {
	border-collapse: collapse;
	border-bottom: 1px solid #e5e5e5;
}

.tbcol > input, select {
	overflow: hidden;
	outline: none;
	border: none;
	padding: 2px 4px;
	background-color: transparent;
/* 	width: 100px; */
}

.ncol1 { width: 25%; }
.ncol2 { width: 8%; }
.ncol3 { width: 5%; }
.ncol4 { width: 5%; }
.ncol5 { width: 5%; }
/* .ncol6 { width: 5%; }
.ncol7 { width: 9%; }
.ncol8 { width: 5%; } */


.ncol1 input{ width: 100%; }
.ncol2 input{ width: 100%; }
.ncol3 input{ width: 100%; }
.ncol4 input{ width: 100%; }
.ncol5 input{ width: 100%; }
/* .ncol6 input{ width: 100%; }
.ncol7 input{ width: 100%; }
.ncol8 select{ width: 100%; } */

thead {
	background-color: #de7575;
	color: #fff;
	height: 30px;
}

.tbcol {
	padding: 12px;
} 

.btnJoin{
    width: 100px;
    padding: 12px 12px 10px 10px;
    border: 1px solid transparent;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #de7575;
}

.btnArea {
	margin-top: 20px;
}
