@charset "UTF-8";
.ArticleContentBox h2{
	margin-bottom: 20px;
}
.WriterInfo mb-3{
	margin: 0;
}
table, tr, td, th {
	border-collapse: collapse;
	border: 1px solid #000;
}

.tbcol > input, select {
	overflow: hidden;
	outline: none;
	border: none;
	padding: 2px 4px;
	background-color: transparent;
/* 	width: 100px; */
}

.ncol1 { width: 25%; }
.ncol2 { width: 8%; }
.ncol3 { width: 5%; }
.ncol4 { width: 5%; }
.ncol5 { width: 5%; }
/* .ncol6 { width: 5%; }
.ncol7 { width: 9%; }
.ncol8 { width: 5%; } */


.ncol1 input{ width: 100%; }
.ncol2 input{ width: 100%; }
.ncol3 input{ width: 100%; }
.ncol4 input{ width: 100%; }
.ncol5 input{ width: 100%; }
/* .ncol6 input{ width: 100%; }
.ncol7 input{ width: 100%; }
.ncol8 select{ width: 100%; } */

.ArticleContentBox .article_header {
    position: relative;
    /* margin-bottom: 20px; */
   /*  padding: 30px 0; */
    border-bottom: 1px solid #ccc;
}

.WriterInfo .thumb_area {
    float: left;
    margin-right: 10px;
}
.title_area h3{
	border-top: 1px solid #ccc;
	padding: 15px;
}
.WriterInfo .profile_area {
	padding-bottom: 10px;
	display: flex;
}
.profile_area .wname{
    margin-right: 12px;
    padding-left: 1em;
}
.article_container .textaread{
	padding-left: 2em;
	padding: 10px;
}
.ArticleContentBox {
    padding: 29px 29px 0;
    border-bottom: 1px solid #ccc;
    /* border-radius: 6px; */
}
.btnJoin{
    width: 120px;
    padding: 12px 12px 10px 10px;
    border: 1px solid transparent;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #de7575;
}
