@charset "UTF-8";

#productMgt .btnArea{
	margin-top: 20px;
	text-align: center;
	width:80%;
}


#productMgt h2{
	text-align: center;
	margin-top: 10px;
}	

#productMgt h3{
	color:#0e6d1d;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}

#productMgt table{
	margin-top: 20px;
	margin-left: 100px;
	width:80%;
}

/* #productMgt .pcol1{
	width: 10%;
	text-align: center;
	vertical-align: middle;
	padding: 3px 3px 3px 3px; 
}
#productMgt .pcol2{
	padding: 3px 3px 3px 10px;
	text-align: left; 
	vertical-align: middle;
}
#productMgt .pcol3{
	width: 15%;
	vertical-align: middle;
}
#productMgt .pcol4{
	width: 25%;
	vertical-align: middle;
}
#productMgt .pcol5{
	width: 10%;
	vertical-align: middle;
} */


.ocol0 { width: 5%; }
.ocol1 { width: 5%; }
.ocol2 { width: 10%; }
.ocol3 { width: 10%; }
.ocol4 { width: 10%; }
.ocol5 { width: 10%; }
.ocol6 { width: 10%; }
.ocol7 { width: 10%; }
.ocol8 { width: 10%; }

.ocol0 input{ width: 100%; }
.ocol1 input{ width: 100%; }
.ocol2 input{ width: 100%; }
.ocol3 input{ width: 100%; }
.ocol4 input{ width: 100%; }
.ocol5 input{ width: 100%; }
.ocol6 input{ width: 100%; }
.ocol7 input{ width: 100%; }
.ocol8 input{ width: 100%; }


table, th, tr, td {
	border-collapse: collapse;
}

thead {
	background-color: #7083ae;
	color: #fff;
}

.ocol {
	padding: 12px;
} 

input:focus, input {
	border: 0;
	outline: none;
}

.btnJoin{
    width: 100px;
    padding: 12px 12px 10px 10px;
    border: 1px solid transparent;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #de7575;
}

.btnArea {
	margin-top: 20px;
}

