@charset "UTF-8";
#productMgt .btnArea{
	margin-top: 20px;
	text-align: center;
	width:80%;
}

#productMgt h2{
	text-align: center;
	margin-top: 10px;
}	
#productMgt h3{
	color:#0e6d1d;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}

#productMgt table{
	width:100%;
}

/* #productMgt .pcol1{
	width: 10%;
	text-align: center;
	vertical-align: middle;
	padding: 3px 3px 3px 3px; 
}
#productMgt .pcol2{
	padding: 3px 3px 3px 10px;
	text-align: left; 
	vertical-align: middle;
}
#productMgt .pcol3{
	width: 15%;
	vertical-align: middle;
}
#productMgt .pcol4{
	width: 25%;
	vertical-align: middle;
}
#productMgt .pcol5{
	width: 10%;
	vertical-align: middle;
} */

/* OrderFix */
.ocol0 { width: 2%; }
.ocol1 { width: 10%; }
.ocol2 { width: 5%; }
.ocol3 { width: 7%; }
.ocol4 { width: 10%; }
.ocol5 { width: 4%; }

.ocol6 { width: 4%; }
.ocol7 { width: 10%; }
.ocol8 { width: 10%; }

.ocol0 input{ width: 100%; }
.ocol1 input{ width: 100%; }
.ocol2 input{ width: 100%; }
.ocol3 input{ width: 100%; }
.ocol4 input{ width: 100%; }

/* .ocol5 input{ width: 100%; } */
.ocol6 input{ width: 100%; }
.ocol7 input{ width: 100%; }
.ocol8 input{ width: 100%; }

table, th, tr, td {
	border-collapse: collapse;
	border-bottom: 1px solid #e5e5e5;
}



@media (max-width: 1024px) {	
	table {
		display: block;
		max-height: 12rem;
		overflow-x: scroll; 
	}
	
	.ocol p, .ocol p {
		width: 100px;
	}
	.ocol1 p {
		width: 200px;
	}
	.ocol img {
		width: 200px;
	}

}
thead {
	background-color: #de7575;
	color: #fff;
}

.ocol4, .ocol {
	padding: 12px;
	/* width: 200px; */
} 

@media (max-width: 1024px) {
	.ocol4 {
		display: none;
	} 
	
	.ocol {
		padding: 4px;
	} 
}

input:focus, input {
	border: 0;
	outline: none;
}

.btnJoin{
    width: 100px;
    padding: 12px 12px 10px 10px;
    border: 1px solid transparent;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #de7575;
}

.ocol form {
	margin: 10px 0;
}

.btnCancel{
    width: 100px;
    padding: 8px 6px;
    margin: 10px;
    border: 1px solid transparent;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    color: #999;
    background-color: #eee;
}

.btnArea {
	margin-top: 20px;
}

.PageNation {
	margin-top: 80px;
}

th.tab {
	padding: 12px;
}
