@charset "UTF-8";

table, tr, td, th {
	border-collapse: collapse;
}

.tbcol > input, select {
	overflow: hidden;
	outline: none;
	border: none;
	padding: 2px 4px;
	background-color: transparent;
/* 	width: 100px; */
}

.pcol1 { width: 5%; }
.pcol2 { width: 20%; }
.pcol3 { width: 5%; }
.pcol4 { width: 10%; }
.pcol5 { width: 5%; }
/* .pcol6 { width: 5%; }
.pcol7 { width: 9%; }
.pcol8 { width: 5%; } */


.pcol1 input{ width: 100%; }
.pcol2 input{ width: 100%; }
.pcol3 input{ width: 100%; }
.pcol4 input{ width: 100%; }
.pcol5 input{ width: 100%; }
/* .pcol6 input{ width: 100%; }
.pcol7 input{ width: 100%; }
.pcol8 select{ width: 100%; } */