@charset "UTF-8";

/* Search Part */
.navbar {
	margin-top: 32px;
}

.navbar-contain-ul {
	display: flex;
}

.navbar-contain-ul li {
	padding-right: 2rem;
}

.navbar-contain-ul li a {
	font-size: 18px;
	font-weight: 900;
}