@charset "UTF-8";

@media (min-width: 1025px) {
      th{
        padding: 10px 30px;
        border-bottom: 1px solid #ebebeb;
    }
}

table{
    border-top: 2px solid #dfdfdf;
}
[src="/images/blue_dot.gif"] {
    border-radius: 50%;
    border: 2.5px solid #ff0000;
    width: 0;
    height: 0;
    margin: 9px;
}
.txtInfo{
    color: #868686;
    font-size: 11px;
    line-height: 12px;
}
.col1{
	padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #1a1a1a;
    background-color: #f6f6f6;
    text-align: left;
    width: 30px;
}

@media (max-width: 1024px) {
	.col1{
		padding-left: 4px;
	    font-size: 12px;
	}
}

.col2{
	padding-left: 16px;
    font-weight: 400;
    font-size: 14px;
    color: #1a1a1a;
    border-bottom: 1px solid #ebebeb;
    text-align: left;
}
.col3{
	padding-left: 16px;
    font-weight: 400;
    font-size: 14px;
    color: #1a1a1a;
    border-bottom: 1px solid #ebebeb;
}

.col2 input, .col3 input {
	width: 100%;
}
.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px; /* 요소 사이 간격 */
}

input[type=text], input[type=password] {
    height: 35px;
    width: 23rem;
    line-height: 40px;
    padding: 2px 4px 2px 15px;
    margin-bottom: 2px;
    border: 1px solid #e0e0e0;
    color: var(--font-color-base);
    font-size: 14px;
    /* box-sizing: border-box; */
    outline: 5px;
    border-radius: 0;
}
@media (max-width: 1024px) {
	input[type=text], input[type=password] {
	    width: 12rem;
	}
}
.btn{
	margin-bottom: 2px;
    padding: 2px 8px;
    height: 35px;
    border: 1px solid #d1d1d1;
    border-radius: 0px;
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
    color: #222;
    background-color: #fff;
}
select {
	width: 113px;
    height: 35px;
    border: 1px solid #d1d1d1;
    display: inline-block;
    align-items: center;
    gap: 10px;
}

#mobile1{
    padding-left: 10px;
    border: 1px solid #d1d1d1;
}


#mobile2, #mobile3{
    width: 105px;
    height: 29px;
}

@media (max-width: 1024px) {
	#mobile1{
	    width: 60px;
	}
	
	#mobile2, #mobile3{
	    width: 42px;
	    height: 29px;
	}
	
}
td{
	padding: 10px 0;
    text-align: center;
}
#sample6_postcode{
    width: 70px;
    height: 29px;
    text-align: left;
    padding-right: 10px;
}
.btnBack{
    width: 355px;
    padding: 12px 12px 10px 10px;
    border: #de7575;
    line-height: 20px;
    font-weight: normal;
    text-align: center;
    color: #000;
}
.btnJoin{
    width: 355px;
    padding: 12px 12px 10px 10px;
    border: 1px solid transparent;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #de7575;
}
@media (max-width: 1024px) {
	.btnJoin, .btnBack{
	    margin-top: 10px;
	}
}