*{
	margin: 0 auto;
	padding: 0;
}
a:link{color:  #0e6d1d; text-decoration: none;}
a:visited{color: #0e6d1d; text-decoration: none;}
a:active{color:  #0e6d1d; text-decoration: none;}
a:hover{color: #1e2c06; text-decoration: none; font-weight: bold;}
ul{
	list-style: none;
}
.tabmenu{
	top: 40px;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
}
.tabmenu ul li{
	width: 50%;
	float: left;
	text-align: center;
	background: #f9f9f9;
}
.tabmenu ul li a{
	display: block;
	line-height: 40px;
	height: 40px;
	text-decoration: none;
	color: #000;
}
.tabCon{
	display: none;
	text-align: left;
	padding: 20px;
	position: absolute;
	left: 0;
	top: 40px;
	box-sizing: border-box;
	border: 5px solid #f9f9f9;
}
.btnCon:target{
	background: #ccc;
}
.btnCon:target .tabCon{
	display: block;
}
#large_login_box{
	text-align: center;
	margin: 20px auto;
	padding: 20px;
	width: 510px;
	height: 300px;
	border: solid 1px #dddddd;
	border-radius: 10px;
	background-color: #f3f3f3; 
}
#large_login_input{
	margin-top: 40px;
}	
#large_login_box input{
	margin-top: 20px;
	width: 400px;
	height: 40px;
	border: solid 1px #dddddd;
}	
#large_login_btn{
	margin-top: 30px;
	width: 380px;
	height: 40px;
	padding: 10px;
	font-size: 30px;
	color: white;
	background-color: #008000;
	border: solid 1px #dddddd;
}