*{
	margin: 0 auto;
	padding: 0;
}
a:link{color:  #54c8a7; text-decoration: none;}
a:visited{color: #54c8a7; text-decoration: none;}
a:active{color:  #54c8a7; text-decoration: none;}
a:hover{color: #ff0000; text-decoration: none; font-weight: bold;}
ul{
	list-style: none;
}
h1{
	margin-top: 70px;
}
.tabmenu{
	top: 100px;
	max-width: 433px;
	margin: 0 auto;
	position: relative;
}
.tabmenu ul li{
	width: 50%;
	float: left;
	text-align: center;
	background: #f9f9f9;
}
.tabmenu ul li a{
	display: block;
	line-height: 40px;
	height: 40px;
	text-decoration: none;
	color: #000;
}
.tabCon{
	display: none;
	text-align: left;
	padding: 20px;
	position: absolute;
	left: 0;
	top: 40px;
	box-sizing: border-box;
	border: 1px solid #ececec;
}
.btnCon:target{
	/* background: #54c8a7; */
    border-bottom: 2px solid #dfdfdf;
    border-color: #333;
    font-style: bold;
}
.btnCon:target .tabCon{
	display: block;
}
#large_login_box{
	text-align: center;
	margin: 20px auto;
	padding: 20px;
	width: 350px;
	height: 200px;
	border: solid 1px #dddddd;
	border-radius: 10px;
	background-color: #f3f3f3; 
}
input::placeholder {
	font-size: 11px;
	padding-left: 10px;
}
#large_login_input{
	margin-top: 40px;
}	
#large_login_box input{
	margin-top: 8px;
	width: 240px;
	height: 40px;
	border: solid 1px #dddddd;
}	
#large_login_btn{
	margin-top: 10px;
	width: 230px;
	padding: 6px;
	font-size: 16px;
	color: white;
	background-color: #54c8a7;
	border: solid 1px white;
}